<table>
	<tr>
		<td colspan="2"> <%= f.label :name %> <%= f.text_field :name%></td>
	</tr>
	<tr>
		<td><%= f.label :attack_mod %> <%= f.text_field :attack_mod, :size => 2%></td>
		<td><%= f.label :damage_roll %> <%= f.text_field :damage_roll %></td>
	</tr>
</table>

