<%= content_tag "ul", 
    :id => "initiative_list", 
    :data => {:sync_order_url => sync_order_path(:id => @battle.id),
              :update_active_creature_url => update_active_creature_path(:id => @battle.id),
              :update_damage_url => update_damage_path(:id => @battle.id),
              :active_creature => @battle.active_creature.nil? ? "none" : @battle.active_creature} do
%>
  <% @battle.order.each do |creature|%>
    <%= content_tag "li", 
        :class => creature_block_class(creature, @battle), 
        :id => creature_id_string(creature),
        :data => creature_list_item_data(creature) do%>
        <table>
          <tr>
            <%= content_tag "td",
                creature.current_hp,
                :rowspan => 2,
                :class => creature_hp_class(creature),
                :data => {:target_id => creature_id_string(creature)} 
            %>
            <%= creature_name_cell(creature) %>
          </tr>
          <tr>
            <%= content_tag("td", "AC: #{creature.ac}", :class => "creature_block_defense")%>
            <%= content_tag("td", "Fort: #{creature.fort}", :class => "creature_block_defense")%>
            <%= content_tag("td", "Ref: #{creature.ref}", :class => "creature_block_defense")%>
            <%= content_tag("td", "Will: #{creature.will}", :class => "creature_block_defense")%>
          </tr>
        </table>       
    <% end %>
  <% end %>
<% end %>