<%= content_tag "ul", 
    :id => "initiative_list", 
    :data => {:sync_order_url => sync_order_path(:id => @battle.id),
              :update_active_creature_url => update_active_creature_path(:id => @battle.id),
              :active_creature => @battle.active_creature.nil? ? "none" : @battle.active_creature} do
%>
  <% @battle.order.each do |creature|%>
    <%= content_tag "li", 
        :class => (creature.id_string == @battle.active_creature) ? "creature_block active_creature_block" : "creature_block", 
        :id => creature.id_string,
        :data => {:url => monster_path(:id => creature.id)} do%>
        <table>
          <tr>
            <td rowspan="2" class="creature_block_hp"><%=creature.current_hp%></td>
            <td colspan="4" class="creature_block_full_name">
              <div class="creature_block_descriptor">
                <%= creature.descriptor%>
              </div>
              <div class="creature_block_name">
                <%= creature.name%>
              </div>
            </td>
          </tr>
          <tr>
            <td class="creature_block_defense">AC: <%=creature.ac%></td>
            <td class="creature_block_defense">Fort: <%=creature.fort%></td>
            <td class="creature_block_defense">Ref: <%=creature.ref%></td>
            <td class="creature_block_defense">Will: <%=creature.will%></td>
          </tr>
        </table>       
    <% end %>
  <% end %>
<% end %>