<div id="left_column">
	<%= render "initiative_order"%>
</div>
<div id="center_column">
  <%= content_tag "div", 
      @battle.name, 
      :id => "battle_name_" + @battle.id.to_s, 
      :class => "editable_battle_name", 
      :data => {:url => edit_battle_name_path(:id => @battle.id)}
  %>
  <ul id="battle_controls">
    <li><%= link_to "Back", root_path %></li>
    <li><a href="#" id="show_add_monsters_button">Add Monster</a></li>
    <li><a href="#" id="show_add_players_button">Add Player</a></li>
    <li><%= link_to "Order", order_by_initiative_path(:id => @battle.id), :remote => true, "data-type" => "html", :id => "sort_by_initiative_button"%></li>
    <li><a href="#" id="remove_dead_monsters_button">Remove Dead</a></li>
  </ul>
  <div id="dice_controls">
    <%= text_field_tag "roll_text", ""%>
    <a href="#" id="roll_button" class="dice_button">Roll</a>
    <a href="#" id="d20button" class="dice_button">1d20</a>
  </div>
	<div id="selected_monster">
	</div>
</div>
<div id="right_column">
  <div id="roll_container">
	  <ul id="rolls">
	  </ul>
	</div>
</div>
<div id="monster_select" class="creature_select" style="display:none;">
  <%= render "monster_select_list" %>
</div>
<div id="player_select" class="creature_select" style="display:none;">
  <%= render "player_select_list" %>
</div>
<div id="add_damage_box" style="display:none;">
  <%= render "add_damage_box" %>
</div>
