<%= form_for @player, :html => {:class => "edit_form"} do |f|%>
	<% if @player.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved</h2>
      	<ul>
      		<% @player.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
      	</ul>
    	</div>
  	<% end %>
	<table>
		<tr>
			<td colspan="3"><%= f.label :name, :class => "creature_label" %> <%= f.text_field :name, :class => "dark_input" %> </td>
		</tr>
		<tr>
			<td><%= f.label :max_hp, :class => "creature_label" %> <%= f.text_field :max_hp, :size => 4, :class => "dark_centered_input" %></td>
			<td><%= f.label :ac, :class => "creature_label" %> <%= f.text_field :ac, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :fort, :class => "creature_label" %> <%= f.text_field :fort, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :ref, :class => "creature_label" %> <%= f.text_field :ref, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :will, :class => "creature_label" %> <%= f.text_field :will, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :str, :class => "creature_label" %> <%= f.text_field :str, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :con, :class => "creature_label" %> <%= f.text_field :con, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :dex, :class => "creature_label" %> <%= f.text_field :dex, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :int, :class => "creature_label" %> <%= f.text_field :int, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :wis, :class => "creature_label" %> <%= f.text_field :wis, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :cha, :class => "creature_label" %> <%= f.text_field :cha, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :acrobatics, :class => "creature_label" %> <%= f.text_field :acrobatics, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :arcana, :class => "creature_label" %> <%= f.text_field :arcana, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :athletics, :class => "creature_label" %> <%= f.text_field :athletics, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :bluff, :class => "creature_label" %> <%= f.text_field :bluff, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :diplomacy, :class => "creature_label" %> <%= f.text_field :diplomacy, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :dungeoneering, :class => "creature_label" %> <%= f.text_field :dungeoneering, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :endurance, :class => "creature_label" %> <%= f.text_field :endurance, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :heal, :class => "creature_label" %> <%= f.text_field :heal, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :history, :class => "creature_label" %> <%= f.text_field :history, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :insight, :class => "creature_label" %> <%= f.text_field :insight, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :intimidate, :class => "creature_label" %> <%= f.text_field :intimidate, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :nature, :class => "creature_label" %> <%= f.text_field :nature, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :perception, :class => "creature_label" %> <%= f.text_field :perception, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :religion, :class => "creature_label" %> <%= f.text_field :religion, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :stealth, :class => "creature_label" %> <%= f.text_field :stealth, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
		<tr>
			<td><%= f.label :streetwise, :class => "creature_label" %> <%= f.text_field :streetwise, :size => 2, :class => "dark_centered_input" %></td>
			<td><%= f.label :thievery, :class => "creature_label" %> <%= f.text_field :thievery, :size => 2, :class => "dark_centered_input" %></td>
		</tr>
			
	</table>
  <%= f.submit "Save", :id => "save_button", :class => "dark_input"%>
<% end %>